
<h1>Dữ liệu từ Controller gửi về là: @ViewBag.infoStudent</h1>

<form asp-action="Index">
    <label>Nhập FullName</label>
    <input type="text" name="FullName">
    <label>Nhập DiaChi:</label>
    <input type="text" name="DiaChi">
    <input type="submit" value="Gửi dữ liệu">
</form>
